@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

:root {
    --app-colour: #9c9c9c;
}

*:not(.ex-icon) {
   font-family: 'Share Tech Mono', monospace !important;
   color: white !important;
}

html {
    background-image: url('https://wallpaperplay.com/walls/full/d/4/d/287824.jpg');
    background-size: cover;
}

.sc-fBuWsC, .ex-widget {
    background: rgba(255,255,255,0.2) !important;
}

.ex-toolbar {
    background: none !important;
}
