@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

:root {
    --app-colour: #9c9c9c;
}

*:not(.ex-icon) {
    font-family: 'Share Tech Mono', monospace !important;
}

.kVBRDM {
    background-color: var(--app-bg-colour);
}

.ex-app {
    background: initial;
}

html {
    background-image: url('https://wallpaperaccess.com/full/39608.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.sc-fBuWsC, .ex-widget {
    background: rgba(255,255,255,0.2) !important;
}

.ex-toolbar {
    background: none !important;
}
